aws_region: ap-northeast-3

project: "edunotes"
domain_name: "notes.infra-skills.com"


ssm_path_prefix: "student3-edunotes"

app_repo: "https://github.com/kiyomiya38/edunotes-app.git"
app_branch: "main"
app_dir: "/opt/edunotes/app"
node_env: "production"

ssm_db_host: "/{{ ssm_path_prefix }}/db/host"
ssm_db_name: "/{{ ssm_path_prefix }}/db/name"
ssm_db_user: "/{{ ssm_path_prefix }}/db/user"
secret_db_password: "/{{ ssm_path_prefix }}/db/password"
db_port: 5432
db_scheme: "postgres"

ssm_redis_host: "/{{ ssm_path_prefix }}/redis/host"
ssm_redis_password: "/{{ ssm_path_prefix }}/redis/password"
redis_port: 6379
redis_db: 0
session_secret: "change-this-to-a-long-random-string"

storage_mode: "s3"

s3_bucket: "edunotes-uploads-bucket"
s3_prefix: "uploads/"
s3_region: "{{ aws_region }}"
s3_endpoint: ""
s3_force_path_style: "false"
s3_signed_url_ttl: 900

s3_bucket_uploads: "edunotes-uploads-bucket"
s3_prefix_uploads: "uploads/"

node_exporter_port: 9100

admin_email: "admin@infra-skills.com"
admin_name: "Administrator"
admin_seed_password: "ChangeMeStrong!"

edunotes_env:
  ADMIN_EMAIL: "{{ admin_email }}"
  ADMIN_NAME: "{{ admin_name }}"
  ADMIN_SEED_PASSWORD: "{{ admin_seed_password }}"
  DB_SSL_REJECT_UNAUTHORIZED: "false"
  PGSSLMODE: "require"

db_ssl_reject_unauthorized: "false"
