global:
  scrape_interval: 15s
scrape_configs:
  - job_name: "node"
    static_configs:
      - targets:
{% for h in groups['all'] %}
        - "{{ hostvars[h].inventory_hostname }}:9100"
{% endfor %}
  - job_name: "edunotes"
    metrics_path: /metrics
    static_configs:
      - targets:
{% for h in groups['web'] %}
        - "{{ hostvars[h].inventory_hostname }}:3000"
{% endfor %}
