PORT=3000
NODE_ENV=production

S3_REGION={{ aws_region }}
S3_BUCKET={{ s3_bucket | default('') }}
S3_ENDPOINT={{ s3_endpoint | default('') }}
S3_FORCE_PATH_STYLE={{ s3_force_path_style | default('false') }}
S3_SIGNED_URL_TTL=900
